{% extends 'layouts/application.html' %}

{% block content %}
<div class="wrapper">
  <div class="clock">
    <svg height="400" width="400">
      <circle  transform="rotate(-90, 200, 200)" id="outer" class="outer" cx="200" cy="200" r="190" >
    </svg>
      <div data-module="time" class="timer">52:41</div>
      <button id="playButton" class="playButton roundButton">p</button>
  </div>

  <div class='task'>
    <div class='rowGroup'>
      <button id="playButton" class='playButton roundButton'>p</button>
      <button class='plus roundButton'>pl</button>
      <button class='minus roundButton'>mi</button>
      <input class='title'>Title 1</input>
    </div>
  </div>
</div>
<i class="fa fa-bar-chart" aria-hidden="true"></i>

{% endblock %}
